
body {
    background-color:greenyellow;
    
}

h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
    background-color:yellow;
    text-align: center;
    border-radius: 50%;
    padding: 22px;
    border: thick double white;
    /* border-color: black; */ 
}


p {
    text-transform: uppercase;
    /* padding-left: 1%; */
    background-color: orange;  
    color: white;
    text-align: center;
    padding: 1px;
    width: 100%;
}
.gifDiv {
    margin-right: 10px;
}

.row {
    padding-top: 15px;
    /* margin-right: 0; */
}

#gif-form {
    float: right;
}

.gif {
    width: 100%;
    height: auto;
    
}



 @media screen and (max-width: 768px) {

    .gif {
        width: 100%;
    
    }

    
    #gif-input {
        width: 100%;

    }

    .row {
        float: left;
        margin-left: 5px;
          
    }
}